body { 
    margin: 0px;
}

.vh { 
    height: 100vh;
}

.bg-header { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url(items/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 63%; 
}

.top-line { 
    background-color: rgb(45,204,111); 
    height: 0%;
}

header { 
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 100px;
    justify-content: space-between;

}

header h1 {
    display: inline-block;  
}

.box-icone-header {
    display: flex;
}

.icone-header {
    display:flex; 
    justify-content: center;
    align-items: center; 
    width: 40px;
    height: 40px;
    margin: 0px 7px; 
    border-radius: 50px;
    background-color: rgba(33,33,33,0.4);
    transition: background-color 0.2s; 
}

.icone-header:hover {
    background-color: rgb(45,225,111);
    cursor: pointer;
}

.icone-header img{
    opacity: 0.8;
    width: 20px;
    height: 20px;
}

.icone-header:hover img { 
    opacity: 1; 
}

.logo {
    color: white;
    font-weight: bold;
}

.logo p {
    cursor: pointer;
    font-size: 14pt;
    font-family: sans-serif;
}

.logo h1 {
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size:30pt;
    font-weight: lighter;
    letter-spacing: 3px;
    
}

span {
    color: rgb(45,204,111)
}

.mao { 
    display: flex;
    align-items: flex-end; 
    height: 100%;

}

.mao img {
    width: 300px;
    
}

.icones-main { 
    background-color: white; 
    height: 36%;
    display: flex;
    justify-content: space-around;
    padding: 10px 100px 40px;
}


.text-main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-main h3 { 
    cursor: pointer;
    color: #333;
    font-size: 12pt;
    margin: 20px 5px 5px;
    font-family: sans-serif;
}

.text-main h3:hover { 
    color: #000;
}

.text-main p{
    font-size: 10pt;
    font-family: sans-serif;
    color: #666; 
    text-align: center;
    width: 250px; 
}
.main-icon {
    height: 100px;
    width: 100px;
    background-color: rgb(45,204,111);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.main-icon:hover {
    background-color: rgb(45,225,111);
    cursor: pointer;
    
}

/* SECTION VIDEO */

::placeholder { 
    color: #999;
    padding-left: 10px;
}

.section-video {
    padding: 0px 100px;
    height: 300px; 
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-video h3 {
    font-family: sans-serif;
    font-weight: lighter;
}

.section-video p {
    width: 450px;
    color: rgba(33,33,33,0.7);
    padding-bottom: 10px; 
    font-family: sans-serif;
    font-size: 10pt; 
}

.section-video input {
    background-color: #444; 
    padding-left: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
    border: unset;
    transition: all 0.4s; 
}

.section-video input:focus { 
    outline: none; 
    width: 250px; 
    background-color: white; 
}

.section-video button { 
    height: 32px;
    color: white; 
    font-weight: bold; 
    border: unset; 
    border-radius: 0px 10px 10px 0px; 
    background-color: rgb(45,204,111);
}

.section-video button:hover {
    background-color: rgb(45,225,111);
    cursor: pointer;
}

.input-video {  
    display: flex; 
}

.pictures { 

    height: 200px;
}

footer { 
    background-color: lightgray;
    display: flex; 
    justify-content: space-around;
    padding: 0px 200px;
    align-items: center;
    height: 65px; 
}

footer a { 
    text-decoration: none;
    font-size: 10pt; 
    font-family: sans-serif;
    color: rgba(33,33,33,0.7); 
}

footer a:hover { 
    color:rgba(22,22,22,1);
}